---
layout: default
title: "コロナ対策について"
permalink: /corona
---

<!-- HEADER -->
{% include header.html %}

<div class="corona">
    <div class="container">
        <div class="corona__header">
            <h1>
                コロナ対策について
            </h1>
            <p>
                2021年1月22日
            </p>
        </div>
        <div class="corona__main">
            <p>
                3 月 20 日(土)・21 日(日)に上演する NAGOYA ダイアモンズ公演 vol.13『卵の中の白 雪姫』は、現時点では公演を実施する予定です。実施にあたり、以下の感染拡大防止対策を行います。尚、上演時間は 70 分程度を予定しています。
            </p>
            <p class="corona__main--newline">
                *基本的には、公演会場となるナビロフトの感染症対策ガイドラインに沿って実施します。  
            </p>
            <a href="https://naviloft1994.wixsite.com/navi-loft/感染症対策ガイドライン-公演利用" class="attension">https://naviloft1994.wixsite.com/navi-loft/感染症対策ガイドライン-公演利用</a>
            <p class="corona__main--newline">
                *感染症の状況は日々変わります。下記対策については状況を鑑み、随時適切に変更・対応 させていただきます。
            </p>
            <h2 class="corona__main--sub-title">
                ■公演関係者(俳優・スタッフ)について
            </h2>
            <p>
                1. こまめな手洗い・消毒・うがいなどを行い、体調管理を心がけます。
            </p>
            <p>
                2. 毎日検温をおこない、小屋入り二週間前よりの検温結果記録を行います。
            </p>
            <p>
                3. 検温の結果、37.5 度以上の発熱があった場合は、自宅待機とします。
            </p>
            <p>
                4. 稽古場・劇場では、基本的にマスク着用で活動します。
            </p>
            <p>
                5. 仕込み・稽古・リハーサル中は、こまめな換気を行います。
            </p>
            <h2 class="corona__main--sub-title">
                ■劇場・ロビー・公演中
            </h2>
            <p>
                1. アクティングエリアと客席最前列との距離は、2メートルを確保します。
            </p>
            <p>
                2. 客席は市松型配置とし、最大 40 席とします(通常満席の場合は 80 席)。
            </p>
            <p>
                3. 公演前後は、劇場の換気、客席・ロビーなどの消毒を行います。
            </p>
            <p>
                4. 俳優によるお客様のお見送り・面会は控えさせていただきます。
            </p>
            <p>
                5. 公演中、劇場では、空気清浄機を稼働させます。
            </p>
            <p>
                6. 受付スタッフはマスク着用で対応させていただきます。また、飛沫防止対策としてビニールシートを使用させていただきます。
            </p>
            <h2 class="corona__main--sub-title">
                ■お客様へのお願い
            </h2>
            <p>
                1. ご来場の際、マスク着用をお願いいたします。
            </p>
            <p>
                2. ご来場時の検温・手指の消毒にご協力ください。
            </p>
            <p>
                3. 検温の結果、37.5 度以上の場合は、入場をご遠慮いただく場合があります。
            </p>
            <p>
                4. ご来場者全員の連絡先の控えをとらせていただきます。
            </p>
            <p>
                5. 会場内外で接近した距離での会話などは控えていただきますようお願いいたします。
            </p>
            <p>
                6. ペットボトルなどのお飲み物をご持参いただき、こまめな水分補給をお勧めします。
            </p>
            <p>
                7. 差し入れ・出演者との面会などはご遠慮いただきますようお願いいたします。
            </p>
            <p>
                8. 観劇料は、なるべく釣り銭のなきようご準備いただけますようご協力ください。
            </p>
        </div>
        <p class="corona__footer">
            NAGOYA ダイアモンズ制作部/名古屋演劇教室
        </p>
    </div>
</div>

<!-- FOOTER -->
{% include footer.html %}