<div class="cast">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8">
        <div class="cast__header">
          <h1>キャスト</h1>
        </div>
        <div class="cast__main">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">作</h5>
                  <p class="card-text">別役　実</p>
                </div>
                <img
                  src="/assets/images/queen.png"
                  class="card-img-bottom cast__main--image"
                  alt="..."
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">演出・監督</h5>
                  <p class="card-text">小熊　ヒデジ</p>
                </div>
                <img
                  src="/assets/images/queen.png"
                  class="card-img-bottom cast__main--image"
                  alt="..."
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">劇団</h5>
                  <p class="card-text">名古屋演劇教室</p>
                </div>
                <img
                  src="/assets/images/queen.png"
                  class="card-img-bottom cast__main--image"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
