<div class="contact_us">
        <div class="container-fluid">
            <h1>お問い合わせ</h1>
            <h2>名古屋演劇教室</h2>
            <div class="row">
                <div class="col-md-6 left-side">
                    <p>ホームページ:</p>
                </div>
                <div class="col-md-6 right-side">
                    <p><a href="https://workshop360nagoya.wixsite.com/home">https://workshop360nagoya.wixsite.com/home</a></p>
                </div>
                <div class="col-md-6 left-side">
                    <p>Mobile:</p>
                </div>
                <div class="col-md-6 right-side">
                    <p>090-9929-8459</p>
                </div>
                <div class="col-md-6 left-side">
                    <p>Tel/Fax:</p>
                </div>
                <div class="col-md-6 right-side">
                    <p>0561-54-8984</p>
                </div>
                <div class="col-md-6 left-side">
                    <p>E-mail:</p>
                </div>
                <div class="col-md-6 right-side">
                    <p>{{ site.email }}</p>
                </div>
            </div>
            <h2>SNS</h2>
            <div class="contact_us__sns">
                <a class="contact_us__sns--twitter" href="https://twitter.com/{{ site.twitter_username }}">
                  <i class="fab fa-twitter"></i>
                </a>
                <a class="contact_us__sns--facebook" href="https://facebook.com/{{ site.facebook_username }}">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
        </div>
</div>