<div class="corona_info">
    <div class="container">
        <div class="corona_info__header">
            <h1>コロナ対策について</h1>
            <p>2021年1月22日</p>
        </div>
        <div class="corona_info__main">
            <p>
                3 月 20 日(土)・21 日(日)に上演する NAGOYA ダイアモンズ公演 vol.13『卵の中の白 雪姫』は、現時点では公演を実施する予定です。感染拡大防止対策に関しては以下のページを参考にしてください。尚、上演時間は 70 分程度を予定しています。
            </p>
        </div>
        <div class="corona_info__footer">
            <div class="corona_info__footer--button">
                <a href="{{ site.baseurl }}/corona">詳しくはこちら -></a>
            </div>
        </div>
    </div>
</div>