<header class="header">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/icon.PNG" alt="logo" width="70" height="56" class="d-inline-block align-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav-links" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link px-md-4 active" href="{{ site.baseurl }}/">ホーム</a>
              </li>              
              <li class="nav-item">
                <a class="nav-link px-md-4" href="{{ site.baseurl }}/member.html">メンバー紹介</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-md-4" href="{{ site.baseurl}}/corona.html">コロナ対策について</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-md-4" href="{{ site.baseurl }}/contact.html">お問い合わせ</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>