<div class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="hero__header">
                        <h1 class="hero__title">卵の中の白雪姫</h1>
                        <p class="hero__sub-title">Snow White in The Egg</p>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-9">
                        <div class="hero__main">
                            <p class="hero__main--title">公演日</p>
                            <p>2021年 3月 20日(土) 15:00〜, 19:00〜</p>
                            <p class="hero__main--align">       3月 21日(日) 11:00〜, 15:00〜</p>
                        </div>
                        <div class="hero__footer">
                            <p>
                                Presented by 名古屋演劇教室
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/assets/images/snowWhite.png" alt="snowWhite"class="snow-white">
    <div class="street-light__container">
        <img src="/assets/images/streetLight.png" alt="streetLight"class="street-light">
    </div>
</div>