<div class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="hero__header col-md-8">
                <h1 class="hero__title">卵の中の白雪姫</h1>
                <p class="hero__sub-title">Snow White in The Egg</p>
            </div>
            <div class="col-4"></div>
            <div class="col-md-8">
                <div class="hero__main">
                    <p class="hero__main--title">公演日</p>
                    <p>2021年</p>
                    <p>3月 20日(土), 3月 21日(日)</p>
                </div>
                <div class="hero__footer">
                    <p>
                        Presented by 名古屋演劇教室
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <img src="{{ site.baseurl }}/snowwhite.PNG" alt="snowWhite" class="snow-white">
    <img src="road.PNG" alt="road" class="road">
    <div class="street-light__container">
        <img src="streetlight.PNG" alt="streetLight" class="street-light">
    </div>
</div>