<div class="info">
  <div class="container">
    <div class="info__header">
      <h1>公演場所・日時・料金</h1>
    </div>
    <div class="info__main">
      <div class="row">
        <div class="col-lg-7">
          <h1>○ 公演場所 <span class="info__note">※1</span></h1>
          <p>ナビロフト 〒468−0052 愛知県名古屋市天白区井口二丁目902</p>
          <p>☎ 052-807-2540</p>
          <h1>○ 公演日時</h1>
          <p>2021年</p>
          <div class="row info__main--dates">
            <div class="col-sm-12 col-xl-3 info__main--date">3月 20日(土)</div>
            <div class="col-sm-6 col-xl-4 info__main--time">14:00〜(🍎りんご組)</div>
            <div class="col-sm-6 col-xl-4 info__main--time">18:00〜(🥚たまご組)</div>
          </div>
          <div class="row info__main--dates">
            <div class="col-sm-12 col-xl-3 info__main--date">3月 21日(日)</div>
            <div class="col-sm-6 col-xl-4 info__main--time">11:00〜(🥚たまご組)⭐️</div>
            <div class="col-sm-6 col-xl-4 info__main--time">15:00〜(🍎りんご組)⭐️</div>
          </div>
          <div class="row info__main--dates">
            <div class="col-sm-12 col-xl-5 info__main--date">⭐️アフター・トーク開催⭐️</div>
            <div class="col-sm-12 col-xl-6 info__main--time">3月21日(日)11時の回・15時の回終演後に、出演者によるアフタートークを開催します。</div>
          </div>
          <h1>○ 料金(日時指定・全自由席) <span class="info__note">※2</span></h1>
          </p>
          <div class="row info__main--dates">
            <div class="col-sm-12 col-xl-3 info__main--date">● 一般</div>
            <div class="col-sm-6 col-xl-4 info__main--time">予約 1800円</div>
            <div class="col-sm-6 col-xl-4 info__main--time">当日 2000円</div>
          </div>
          <div class="row info__main--dates">
            <div class="col-sm-12 col-xl-3 info__main--date">● U-25 <span class="info__note">※3 ※4</span></div>
            <div class="col-sm-6 col-xl-4 info__main--time">1400円</div>
          </div>
          <div class="row info__main--dates">
            <div class="col-sm-12 col-xl-3 info__main--date">● 高校生以下 <span class="info__note">※4</span></div>
            <div class="col-sm-6 col-xl-4 info__main--time">800円</div>
          </div>
          <h1>○ 2月7日(日)より予約受け付け開始</h1>
          <div class="row info__main--dates">
            <div class="col-sm-12 col-xl-3 info__main--date">・Web予約</div>
            <div class="col-sm-12 col-xl-6 info__main--time info__book isDisabled"><a href="#" class="info__book--link">こちら</a>のリンクから(準備中)</div>
          </div>
          <div class="row info__main--dates">
            <div class="col-sm-12 col-xl-3 info__main--date">・電話予約</div>
            <div class="col-sm-6 col-xl-4 info__main--time">090-9929-8459</div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="info__main--map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3263.1105379840956!2d136.9954243152437!3d35.1289149803268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600364c22d13f15f%3A0xfb47d3b9aa468ede!2z44OK44OT44Ot44OV44OI!5e0!3m2!1sen!2sjp!4v1610192722777!5m2!1sen!2sjp"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="info__footer">
      <p>※1 名古屋市地下鉄鶴舞線「原駅」一番出口より徒歩8分。会場にお客様駐車場はございません。公共交通機関をご利用ください。</p>
      <p>※2 チケット料金はご来場当日、受付にてお支払いお願いします。感染症対策として、なるべく釣り銭のなきようご用意いただければ幸いです。<br>車椅子など身体補助具ご利用の方は、事前にお知らせください。</p>
      <p>※3 U-25は、25歳以下の方が対象です。</p>
      <p>※4 U-25、高校生の方は、前売り・当日同一料金です。当日受付にて身分証明証の提示をお願いいたします。</p>
    </div>
  </div>
</div>
