
<div class="member_intro">
    <div class="container-fluid">
        <div class="row">
            <h1>メンバー紹介</h1>
            <h2>🍎りんご組</h2>
            <div class="col-6 col-md-4">
                {% include member-card.html role="給仕" actor="上田　美穂" image="waiter" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="老紳士" actor="サカイ　ユウキ" image="gentleman" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="魔法使い" actor="おおいつ" image="witch" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="小間使い" actor="中の森シフィー" image="maid" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="泥棒" actor="そよ" image="theif" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="白雪姫という少女" actor="友美" image="girl" %}
            </div>
            <h2>🥚たまご組</h2>
            <div class="col-6 col-md-4">
                {% include member-card.html role="給仕" actor="伊藤　誠一郎" image="waiter" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="老紳士" actor="Shiki" image="gentleman" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="魔法使い" actor="藤沢　むつみ" image="witch" troupe="劇団色えんぴつ" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="小間使い" actor="松波　さやか" image="maid" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="泥棒" actor="丹羽　尚斗" image="theif" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="白雪姫という少女" actor="おとめ" image="girl" %}
            </div>
            <h2>🍎りんご組 & 🥚たまご組</h2>
            <div class="col-6 col-md-4">
                {% include member-card.html role="乞食" actor="やぶした たいち" image="begger" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="卵売りの少女" actor="川村　美湖" image="boy" %}
            </div>
            <div class="col-6 col-md-4">
                {% include member-card.html role="市長" actor="中島　ミサキ" image="mayor"%}
            </div>
        </div>
    </div>
</div>