<div class="member_staff">
  <div class="container-fluid">
    <div class="row">
        <h1 class="member_staff--title">スタッフ紹介</h1>
        <h2 class="member_staff--sub-title">■指導協力</h2>
        <p>折野純子</p>
        <p>岡本伸子(ワークショップ専門企画みんなの木)</p>
        <p>いのこ福代</p>

        <h2 class="member_staff--sub-title">■STAFF</h2>
        <p>照明: 巽悟狼</p>
        <p>舞台美術: diamonds CLUB</p>
        <p>音響: 就也(千喜屋)</p>
        <p>音楽: KAOfua</p>
        <p>アウタートーク司会: 久保田安臣</p>
        <p>記録: ヨンサン・ピーチェオ</p>
        <p>製作: 名古屋演劇教室</p>
        <p>宣伝美術: 中野ひかり(劇団ものありき)</p>
        <p>運営: 尾國裕子(無所属・新人)　横田亜夜子(電光石火一発座)　佐藤亜矢</p>

        <h2 class="member_staff--sub-title">■協力</h2>
        <p>市川愛子　中山佳子　ハヤシケンジ　JUMP　他 大勢の皆様</p>

        <h2 class="member_staff--sub-title">主催: 名古屋演劇教室 NAGOYAダイヤモンズ</h2>
        <p>共催: ナビロフト　Loft Plan</p>
        <p>後援: 公益財団法人名古屋市文化復興事業団 名古屋市教育委員会</p>
    </div>
  </div>
</div>
