<div class="summary">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <div class="summary__header">
                    <h1>あらすじ</h1>
                </div>
                <div class="summary__main">
                    <p>
                        街の倉庫で300年間眠り続けていた白雪姫の卵。<br>
                        それを取り囲んでいるのは、魔法使いと七人の小人たち、ではなく、魔法使いや老紳士、市長、乞食、卵売り、泥棒などの面々。「早く生まれておいで」と皆が卵を見つめる中、あらぬ方向から白雪姫と名乗る少女がリンゴを齧りながら登場する。と思いきや、街の広場からは「白雪姫がうまれたぞー！」の声と主に歓声が上がる。じゃあこの卵は何？本当の白雪姫はいったいどこに…？
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>