/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.contact_us {
    flex: 1;
    h1 {
        font-size: 45px;
        text-align: center;
        margin-top: 50px;
    }
    h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
    }
    a {
        color: #FFC6CC;
    }
    p {
        font-size: 16px;
    }
    .left-side {
        p {
            margin-bottom: 10px;
        }
    }
    .right-side {
        p {
            margin-bottom: 20px;
        }
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .contact_us {
        p {
            font-size: 16px;
        }
        .left-side {
            text-align: end;
        }
        .right-side {
            text-align: start;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .contact_us {
        p {
            font-size: 20px;
        }
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}