//* GENERAL
@font-face {
  font-family: "KosugiMaru-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/KosugiMaru-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "iroha-mochi";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/iroha-mochi.otf") format("opentype");
  unicode-range: U+3040-309F, U+30A0-30FF;
}

body {
  font-family: "iroha-mochi", "KosugiMaru-Regular", Arial, Helvetica, sans-serif;
}
//* HEADER
.header {
  background: #ffc6cc;
  height: 8vh;
}

.nav-links {
  box-sizing: border-box;
  margin-left: 45%;
}

//* HERO
.hero {
  background: #ffc6cc;
  height: 92vh;
  //   position: relative;
  overflow: visible hidden visible visible;
  // Header
  &__header {
    margin-top: 20px;
    height: 280px;
    background-image: url("/assets/images/ribbon.png");
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  &__title {
    padding-top: 6%;
    font-size: 64px;
  }
  &__sub-title {
    margin-top: 10%;
    padding-left: 2%;
    font-size: 24px;
    letter-spacing: 5px;
    color: #555;
  }
  // Main
  &__main {
    font-size: 30px;
    margin-top: 50px;
    line-height: 1.5;
    &--title {
      color: #555;
    }
    &--align {
      padding-left: 15%;
    }
  }

  // Footer
  &__footer {
    margin-top: 50px;
    font-size: 16px;
    color: #555;
  }
}

.snow-white {
  position: absolute;
  width: calc(80px + 10%);
  right: 15%;
  bottom: 10%;
}

.street-light {
  position: relative;
  right: -20%;
  width: 100%;
  &__container {
    overflow: hidden;
    position: absolute;
    width: calc(50px + 15%);
    right: 0%;
    bottom: 20%;
  }
}

//* SUMMARY
.summary {
  background-color: #f6f3ef;
  padding: 5% 0;
  &__header {
    text-align: center;
    font-size: 45px;
  }
  &__main {
    margin-top: 30px;
    background-image: url("/assets/images/book.png");
    background-position: center;
    background-size: cover;
    height: 600px;
    font-size: 24px;
    line-height: 1.8;
    padding: 8% 15%;
    font-weight: 700;
  }
}

//* CAST
.cast {
  background-color: #f6f3ef;
  padding: 5% 0;
  &__header {
    text-align: center;
    font-size: 45px;
  }
  &__main {
    text-align: center;
    margin-top: 30px;
    .card {
      background-color: inherit;
      border: none;
    }
    .card-title {
      font-size: 20px;
    }
    .card-text {
      margin-top: 20px;
      font-size: 24px;
    }
    &--image {
      margin: 20px auto 0;
      width: 80%;
    }
  }
}
//* INFO
.info {
  background-color: #f6f3ef;
  padding: 5% 0;
  &__header {
    text-align: center;
    font-size: 45px;
  }
  &__main {
      margin-top: 30px;
      h1 {
          margin: 40px 0 10px;
          font-size: 18px;
          color: #555;
      }
      p {
          line-height: 1.5;
          font-size: 18px;
      }
      &--map {
        iframe {
            width: 100%;
            height: 400px;
        }
      }
  }
}
//* FOOTER
.footer {
    background-color: #FFC6CC;
    padding: 1% 0;
    text-align: center;
    p {
        color: #555;
        font-size: 14px;
    }
}