//* GENERAL
@font-face {
  font-family: "KosugiMaru-Regular";
  font-style: normal;
  font-weight: 400;
  src: url('font/KosugiMaru-Regular.ttf') format("opentype");
}

@font-face {
  font-family: "iroha-mochi";
  font-style: normal;
  font-weight: 400;
  src: url('font/iroha-mochi.otf') format("opentype");
  unicode-range: U+3040-309F, U+30A0-30FF;
}

body {
  font-family: "iroha-mochi", "KosugiMaru-Regular", Arial, Helvetica, sans-serif;
}
.outer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
//* HEADER
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.header {
  background: #ffc6cc;
  height: 9vh;
}

.nav-links {
  text-align: center;
  background-color: #f99fa8;
  position: relative;
  z-index: 100;
}
.nav-link {
  padding: 20px 0;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-links {
    // box-sizing: border-box;
    margin-left:18%;
    background: #ffc6cc;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-links {
    margin-left: 35%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

//* HERO
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.hero {
  background: #ffc6cc;
  height: 91vh;
  &__header {
    background-image: url('images/ribbon.PNG');
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 25vh;
    margin-top: 5%;
    position: relative;
  }
  &__title {
    font-size: 45px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &__sub-title {
    margin-top: 15%;
    font-size: 16px;
    letter-spacing: 3px;
    color: #555;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  // Main
  &__main {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    &--title {
      color: #555;
    }
  }
  // Footer
  &__footer {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
  }
}

.snow-white {
  position: absolute;
  width: calc(80px + 10%);
  right: 15%;
  bottom: 5%;
  z-index: 5;
}
.betsuyaku-minoru {
  position: absolute;
  width: 150px;
  left: 0;
  bottom: 0;
  z-index: 5;
}


.road {
  position: absolute;
  width: 100vw;
  top: 83%;
  height: 250vh;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.1)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.1));
}
.street-light {
  position: relative;
  right: -20%;
  width: 100%;
  &__container {
    overflow: hidden;
    position: absolute;
    width: calc(50px + 15%);
    right: 0%;
    bottom: 13%;
  }
}
@media (min-width: 576px) {
  .hero {
    &__header {
      height: 25vh;
    }
    &__title {
    }
    &__sub-title {
      margin-top: 10%;
      font-size: 20px;
    }
    // Main
    &__main {
      text-align: center;
      font-size: 20px;
    }
    // Footer
    &__footer {
      text-align: center;
    }
  }
  .snow-white {
    bottom: 2%;
  }
  .street-light {
    &__container {
      bottom: 10%;
    }
  }
  .road {
    top: 85%;
    height: 280vh;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero {
    &__header {
      height: 30vh;
    }
    &__title {
      font-size: 54px;
    }
    &__sub-title {
      letter-spacing: 5px;
    }
    // Footer
    &__footer {
      text-align: end;
    }
  }
  .road {
    top: 89%;
    height: 150vh;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero {
    // Header
    &__header {
      height: 35vh;
    }
    &__title {
      font-size: 64px;
    }
    &__sub-title {
      font-size: 24px;
    }
    // Main
    &__main {
      font-size: 30px;
      margin-top: 50px;
    }
  }
  .street-light {
    &__container {
      bottom: 20%;
    }
  }
  .road {
    top: 88%;
    height: 180vh;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .road {
    top: 85%;
    height: 200vh;
  }
}

//* SUMMARY
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.summary {
  background-color: #f6f3ef;
  padding: 5% 0;
  &__header {
    text-align: center;
    font-size: 40px;
  }
  &__main {
    margin-top: 30px;
    background-image: url('images/book.PNG');
    background-position: center;
    background-size: cover;
    height: 75vh;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 700;
    padding: 15% 5%;
    position: relative;
    z-index: 5;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .summary {
    &__main {
      font-size: 22px;
      padding: 8% 15%;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .summary {
    &__main {
      font-size: 22px;
      padding: 10% 15%;
      height: 80vh;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .summary {
    &__main {
      font-size: 24px;
    }
  }
}

//* CAST
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.cast {
  background-color: #f6f3ef;
  padding: 5% 0;
  &__header {
    text-align: center;
    font-size: 40px;
  }
  &__main {
    text-align: center;
    .card {
      background-color: inherit;
      border: none;
      margin-top: 40px;
    }
    .card-title {
      font-size: 16px;
    }
    .card-text {
      margin-top: 10px;
      font-size: 24px;
    }
    &--image {
      margin: 20px auto 0;
      width: 50%;
    }
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cast {
    &__main {
      &--image {
        width: 80%;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
//* INFO
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.info {
  background-color: #f6f3ef;
  padding: 5% 0;
  &__header {
    text-align: center;
    font-size: 40px;
  }
  &__main {
    padding: 0 5%;
    h1 {
      margin: 30px 0 10px;
      font-size: 18px;
      color: #555;
    }
    p {
      font-size: 18px;
      line-height: 1.5;
    }
    &--dates {
      margin-bottom: 15px;
    }
    &--date {
      line-height: 1.5;
      font-size: 18px;

    }
    &--time {
      line-height: 1.5;
      font-size: 18px;
    }
    &--map {
      margin-top: 30px;
      iframe {
        width: 100%;
        height: 400px;
      }
    }
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
//* FOOTER
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.footer {
  background-color: #ffc6cc;
  padding: 3% 0;
  text-align: center;
  p {
    color: #555;
    font-size: 14px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer {
    padding: 1% 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
